.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(1, 0, 10);
    border-radius: 8px;
    border-color: rgb(117, 2, 119);
    border-color: blueviolet;
}

.buttons {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}

.button {
    width: 100px; 
    height: 100px; 
    margin: 10px; 
    border: none; 
    border-radius: 50%; 
    cursor: pointer; 
    background-color: transparent; 
}

.button img {
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
    transition: transform 0.2s; 
}

.button:hover img {
    transform: scale(1.1); }