body {
    background-color: #121111;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 45px solid blueviolet;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: flex; 
    justify-content: center; 
    margin-top: 20px; 
}

.button {
    width: 100px; 
    height: 100px; 
    margin: 10px; 
    border: none; 
    border-radius: 50%; 
    cursor: pointer; 
    background-color: transparent; 
}

.button img {
    width: 100%; 
    height: 100%; 
    border-radius: 50%; 
    transition: transform 0.2s; 
}

.button:hover img {
    transform: scale(1.1); }

.button:active img {
        filter: brightness(1.2);
    }

.Imagen{
    width: 100%; 
    height: 100%;
    justify-content: center; 
    align-items: center; 
    border-radius: 20%; 
    transition: transform 0.2s; 
}

.Imagen:hover img {
    transform: scale(1.1); }